.header {
  align-items: center;
  background: $dark-blue;
  display: flex;
  justify-content: space-between;
  padding: .5rem 5rem;
}

.header__title {
  color: white;
  text-decoration: none;

  h1 {
    margin: 0;
  }
}

.header__button {
  height: 100%;
  color: white;
}

.header__right {
  display: flex;
  padding: 0 3rem;
  align-items: center;
  justify-content: space-between;
}

.header__avatar {
  color: black;
  background: #DCD3C0 !important;
  margin: 0 1rem;
}