
/**
*   The underscore in filename lets Sass know that the file
*   is only a partial file and that it should not be generated
*   into a CSS file. It's mandatory.
*/

// Interesting point from Udemy. The default box-sizing for browsers
// is content-box, but it's almost never the ideal UI behavior.
// Google for more details.
* {
  box-sizing: border-box;
}

html {
  // Change default font-size to 10.
  //font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: "Avenir", "Helvetica Neue", sans-serif;
  margin: 0;
  line-height: 1.6;
}

.is-active {
  font-weight: bold;
  color: royalblue;
}

.reactLinkStyle {
  text-decoration: none;
  color: $dark-grey;
}
